.library-content {
  background-color: #e7ebf0;
  height: 100vh;
  .tabs-container {
    margin: auto;
    border-radius: 14px;
    display: flex;
    flex-direction: column;

    .books-block {
      display: flex;
      justify-content: space-between;
      width: 60%;
      margin: auto;
    }

    .books-outer-container {
      background-color: white;
      width: 60%;
      margin: auto;
      min-height: 60vh;
      border-radius: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-bottom: 30px;
      height: 70vh;
      margin-top: 120px;
      .books-select-container {
        display: flex;
        width: 90%;
        margin: auto;
        justify-content: space-between;
      }
      .books-list-container {
        width: 90%;
        margin: auto;
      }
    }
  }
}

.library-footer {
  height: 2vh;
}
